@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Sedgwick+Ave+Display&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nosifer', 'cursive';
  color: red;
  background-image: url('./images/d1qftz2-2a0037c9-ae24-477c-b1e9-4c3a852033a2.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

#win {
  display: none;
  text-align: center;
  color: white;

  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.6rem;
  margin-bottom: -0.6rem;
}

img {
  display: none;
  width: 100%;
  height: 100%;
  transform: none;
  transition: opacity 0.3s ease;
}

button {
  background-color: rgb(4, 119, 4);
  border-radius: 2rem;
  color: white !important;
  padding: 0.5rem 0.5rem;
  width: 8rem;
  text-align: center;
  font-family: 'Sedgwick Ave Display', 'cursive';
}

button:hover {
  background-color: #0056b3;
}

.restart-button {
  display: none;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card {
  height: 24vh;
  flex-basis: 20vw;
  cursor: pointer;
  background-color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-box {
  display: flex;
  gap: 2rem;
  /* flex-direction: column; */
}

.change-level {
  display: none;
}

.moves h3 {
  display: none;
}

.score-display h3 {
  display: none;
}

@media screen and (max-width: 600px) {

  body {
    background-repeat: inherit;
  }

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 1rem;
  }

  .card {
    height: 10vh;
    flex-basis: 15vw;
    cursor: pointer;
    background-color: gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button-box {
    flex-direction: column;
  }
}